---
const { ...props } = Astro.props;
import site from "../data/site.json";
const MEASUREMENT_ID = "G-2EKL6GCKDL";
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{site.title}</title>
<meta name="description" content={site.bannercapabilities} />
<link
    rel="icon"
    type="image/svg+xml"
    href="/ajaibghar-landing-page/favicon.ico"
/>

<!-- Web analytics -->
<!-- Google tag (gtag.js) -->
<script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
<script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "MEASUREMENT_ID");
</script>

<!-- Open Graph tags -->
<meta property="og:title" content={site.title} />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.ajaibghar.com/" />
<meta property="og:description" content={site.bannercapabilities} />
<meta property="og:image" content="/ajaibghar-landing-page/meta-wwc.png" />
<meta
    property="og:image:alt"
    content="two women live coding music and visuals, there is a white logo on the right side of the image that says 'Ajaibghar'"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="https://ajaibghar.com" />
<meta property="twitter:url" content="https://ajaibghar.com" />
<meta name="twitter:title" content="Ajaibghar" />
<meta name="twitter:description" content={site.bannercapabilities} />
<meta property="twitter:image" content="/ajaibghar-landing-page/meta-wwc.png" />
<meta
    property="twitter:image:alt"
    content="two women live coding music and visuals, there is a white logo on the right side of the image that says 'Ajaibghar'"
/>
<!-- <Favicon /> -->
